<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="P3Entities" connectionString="metadata=res://*/P3Model.csdl|res://*/P3Model.ssdl|res://*/P3Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=tema2;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>