<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <services>
      <!-- name="namespace.NameClass" -->
      <service name="WCFIntern.Intern"
      behaviorConfiguration="ComportareServiciuIntern">
        <endpoint address="net.tcp://localhost:8182/intern"
        binding="netTcpBinding"
        bindingConfiguration="" contract="WCFIntern.IIntern" />
        <!-- Valori din fisierul de configurare la nivel de masina-->
        <endpoint address="mex" binding="mexTcpBinding"
        contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ComportareServiciuIntern" >
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>